.carrito-rostro {
    margin-left: 300px; 
    margin-right: 300px; 
  }
  
  .titulo-carrito {
    font-size:35px; 
    margin-bottom: 100px;
    color: #fbe189; 
  }
  
  .lista-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }
  
  .producto {
    width: calc(33.33% - 10px); 
    margin-right: 10px; 
    margin-bottom: 20px; 
    list-style-type: none; 
  }
  
  .imagen-producto {
    width: 100%; 
    height: auto; 
    transition: transform 0.2s ease-in-out; 
  }
  
  .imagen-producto.agrandar {
    transform: scale(1.1); 
  }
  
  .producto div {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }
  
  .boton-agregar {
    background-color: #eff5a0; 
    color: #2c2b2b; 
    border: none; 
    padding: 5px 10px; 
    cursor: pointer; 
  }
  
  .boton-agregar:hover {
    background-color: #ccddaa; 
  }
