/* Estilo de la aplicacion
color del titulo y del fondo*/
.App {
  background-color: #e6f7ff; 
  color: #153f6d; 
  padding: 20px; 
}

/* EStilo de la imagen
Border radius hace que sus bordes sean redondos*/
img {
  max-width: 100%; 
  height: auto; 
  border-radius: 10px; 
  
}

/* EStilo del titulo, se elige la fuente y su tamaño*/
h1 {
  font-family: 'Garamond';
  font-size: 2;
}

/* EStilo de la primera columna de la tabla
Se asigna color de fondo y color de texto*/
.rdt_TableCol {
  background-color: #8998bc;
  color: #fbfff9;
}

/* Estilo del resto de columnas de la tabla o cuerpo de ella
Se asigna color de fondo y un borde para distinguir*/
.rdt_TableCell {
  background-color: rgba(238, 242, 255, 0.198);
  border: 1px solid #8998bc; 
  padding: 8px; 
}

