.App {
  text-align: center;
  color:#af63ba
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fa9eff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(144, 212, 255);
}

.App-link {
  color: #af63ba;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* EStilo del titulo, se elige la fuente y su tamaño*/
h1 {
  font-family: 'Garamond';
  font-size: 2;
  color:#66386e
}

/* EStilo de la primera columna de la tabla
Se asigna color de fondo y color de texto*/
.rdt_TableCol {
  background-color: #deb7f5;
  color: #fbfff9;
}

/* Estilo del resto de columnas de la tabla o cuerpo de ella
Se asigna color de fondo y un borde para distinguir*/
.rdt_TableCell {
  background-color: rgba(238, 242, 255, 0.198);
  border: 1px solid #c381df; 
  padding: 8px; 
}

