/* CSS Estilos para la lista */
.list-group {
    background-color: #e7cdf0; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(80, 14, 113, 0.501); 
    padding: 10px;
  }
  
  .list-group-item {
    margin-bottom: 10px; 
    background-color: #fbebfb;
    border: 1px solid #bc69e5; 
    border-radius: 5px; 
    padding: 10px; 
    transition: background-color 0.3s ease; 
  }
  
  .list-group-item:hover {
    background-color: #d69ff0; 
  }

  .button{
    color:#bc69e5
  }

